.border {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: peru;
  border-radius: 10px;
  text-decoration: none;
  font-family: Garamond;

}

ul {
  list-style: none;
}

.thick {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: rgb(135, 70, 5);
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 1em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  /* Bara de navigare */
  .border {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .border li {
    margin: 10px 0;
  }

  .thick {
    font-size: 1.8em;
  }

  img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 10px 0;
  }

  #place img,
  #place iframe {
    width: 100%;
    height: auto;
  }

  #image {
    flex-direction: column;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 1.4rem;
    background-color: rgb(243, 201, 149);
    padding: 15px;
  }
}