.border {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: peru;
    border-radius: 10px;
    text-decoration: none;
    font-family: Garamond;
  
  }
  .thick {
    font-size: 3rem;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .active {
    color: rgb(135, 70, 5);
    font-weight: bold;
    text-decoration: none;
  }


.conta {
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border: 5px solid peru;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}
